/* ГЛАВНАЯ */

.fone1 {   
    background-image: url(../resources/12.png);      
    background-position: center center;      
    background-repeat: no-repeat;      
    background-size: cover;        
}

.home {
    /* background-color: #EEEAE7; */
    height: 768px;
    width: 100%;
    
}

button#pop{
    width: 100%;
}

.clr {
    color: #203331 !important; 
    margin: 15px;
    font-weight: 500;
}

.clr:hover {
    color: #708A78 !important;
}

a#p {
    background-color: #9DB9A1;
    border-radius: 90px;
    width: 200px;
    height: 35px;
    font-size: 16px;
    font-weight: 500;
    color: #203331 !important; 
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
}

a#p:hover {
    background-color: #708A78;
}

h1 {
    font-size: 60px !important;
    color: #FFFFFF;
    text-align: center;
    padding-top: 80px;
}

.green {
    width: 824px;
    height: 312px;
    background-color: #203331;
    margin-bottom: 20px;    
}

.cntr {
    position: absolute;
    top: 59%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

li {
    list-style-type: none;
    text-align: center;
    color: #203331;
    font-weight: 500;
   }

/* ГЛАВНАЯ */

/* О НАС */
.about {
    height: 768px;
    width: 100%;
}

img#sln {
    width: 100%;
}

h2 {
    font-weight: 500;
    font-size: 46px !important;
    color: #203331;
}

p {
    font-size: 18px !important;
    color: #203331;
    font-weight: 400  !important;
}

.b {
    width: 65%;
    margin: 0 auto;
    padding-top: 10%;
}
/* О НАС */

/* УСЛУГИ */
.fone2 {   
    background-image: url(../resources/345.png);      
    background-position: center center;      
    background-repeat: no-repeat;      
    background-size: cover;   
    width: 100%;
    height: 80%;     
}
.price {
    width: 100%;
    background-color: #EEEAE7;
    /* нужен ли фон?? */
    height: 2100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}
.manic {
    width: 65%;
    margin: 0 auto;
    padding-top: 5%;
}
.face {
    width: 65%;
    margin: 0 auto;
    padding-top: 15%;
}
.hair {
    width: 65%;
    margin: 0 auto;
    padding-top: 15%;
}

h3{
    font-size: 30px !important;
}

h4{
   font-size: 20px !important;
   font-weight: 400  !important;
}

.img_price{
    width: 319px;
    height: 415px;
}
/* УСЛУГИ */

/* РЕГИСТРАЦИЯ */
.regist {
    background-color: #9DB9A1;
    height: 384px;   
}

.regist2 {
    width: 55%;
    margin: 0 auto;
}

.regist3 {
    width: 30%;
    margin: 0 auto;
}

button#reg {
    border-radius: 90px;
    background-color:#203331; 
    width: 200px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    color: #9DB9A1 !important;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 10px;

}

button#reg:hover {
    background-color: #101a19;
}
/* РЕГИСТРАЦИЯ */

.par {
    position: relative;
    background-color: #ffffff;
    height: 768px;
}
   
/*акции прямоугольник основной*/
.rectangle {
    position:absolute;
    display: block;
    top:5%;
    left:30%;
    right: 30%;
    width: 40%;
	height: 40%;
    background-color: transparent;
    border:3px solid #9DB9A1;

    font-family: Roboto Slab;
    font-style: normal;
    line-height: 30px;
}
/*акции прямоугольник второй*/
.rectangle2{
    position:absolute;
    top:3%;
    left:31%;
    right: 29%;
    width: 40%;
	height: 40%;
    background-color: transparent;
    border:3px solid #E1BFB3;   
}
h10{
    display: inline;
    line-height: 40px;
    font-size:25px;
    float: left;
}
h11{
    display: inline;
    line-height: 40px;
    font-size:25px;
    float: right;
}

.contact {
    position: relative;
    background-color: #708A78;
    height: 384px;
    
}
/*Отступ сверху*/
.mar_con{
    position:absolute;
    margin-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
}
/*знак и текст*/
.log_text{  
    display: inline-block;
    width: 300px;
    margin: 10px 5px 15px 0px;

}
/*текст контакты*/
.cont{
    display: inline;
    font-family: Roboto Slab;
    font-style: normal;
    font-size: 20px;
    max-width:250px;
    height: 20px;
    margin-right: 20px;
}
/*карта*/
.map{
position: absolute;
margin-top: 3%;
right: 15%;

}

.footer {
    background-color: #203331;
    height: 100px;
    
}

.navbar-toggler-icon {
    color: black;
    background-color: blue;
}
