.home {
    background-color: #EEEAE7;
    height: 700px;
    
}
.clr {
 color: #203331; 
 margin: 15px;
 font-weight: 500;
}
.clr:hover {
 color: #708A78;
}

.about {
    background-color: #ffffff;
    height: 768px;
    
}
.price {
    background-color: #ffffff;
    height: 2304px;
    
}
.regist {
    background-color: #9DB9A1;
    height: 384px;
    
}
.par {
    background-color: #ffffff;
    height: 768px;
    
}
.contact {
    background-color: #708A78;
    height: 384px;
    
}
footer {
    background-color: #203331;
    height: 100px;
    
}