/* ГЛАВНАЯ */
.home {
    background-color: #EEEAE7;
    height: 768px;
    width: 100%;
    
}

/* меню */
button#pop{
 width: 100%;
}
.clr {
 color: #203331 !important; 
 margin: 15px;
 font-weight: 500;
}
.clr:hover {
 color: #708A78 !important;
}
/* меню */

/* кнопка */
button#p {
    background-color: #9DB9A1;
    border-radius: 90px;
    width: 200px;
    height: 45px;
    font-size: 18px;
    font-weight: 400;
    color: #203331 !important; 
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;

}
button#p:hover {
    background-color: #708A78;
}
/* кнопка */

h1 {
    font-size: 60px !important;
    color: #FFFFFF;
    text-align: center;
    padding-top: 80px;
}
.green {
    width: 824px;
    height: 312px;
    background-color: #203331;
    margin-bottom: 20px;
       
}
.cntr {
    position: absolute;
    top: 59%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);

}
li {
    list-style-type: none;
    text-align: center;
   }

/* ГЛАВНАЯ */

.about {
    background-color: #ffffff;
    height: 768px;
    
}
.price {
    background-color: #ffffff;
    height: 2304px;
    
}
.regist {
    background-color: #9DB9A1;
    height: 384px;
    
}
.par {
    background-color: #ffffff;
    height: 768px;
    
}
.contact {
    background-color: #708A78;
    height: 384px;
    
}
footer {
    background-color: #203331;
    height: 100px;
    
}
.navbar-toggler-icon {
    color: black;
    background-color: blue;
}
